[package]
name = "agent_api_rest"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
agent_issuance = { path = "../agent_issuance" }
agent_shared = {path = "../agent_shared"}

axum = "0.6"
axum-auth = "0.4"
axum-macros = "0.3"
http-api-problem = "0.57"
hyper = { version = "0.14", features = ["full"] }
oid4vci.workspace = true
serde.workspace = true
serde_json.workspace = true
tracing.workspace = true
uuid = { version = "1.4", features = ["v4", "fast-rng", "serde"] }

[dev-dependencies]
agent_shared = { path = "../agent_shared", features = ["test"] }
agent_store = { path = "../agent_store" }

lazy_static.workspace = true
mime = { version = "0.3" }
oid4vc-core.workspace = true
tokio = { version = "1.34", features = ["full"] }
tower = { version = "0.4" }
url.workspace = true
