[package]
name = "agent_api_rest"
version = "0.1.0"
edition = "2021"

[dependencies]
agent_issuance = { path = "../agent_issuance" }

oid4vci = { git = "https://git@github.com/impierce/openid4vc.git", branch = "feat/refactor-request" }
oid4vc-core = { git = "https://git@github.com/impierce/openid4vc.git", branch = "feat/refactor-request" }

axum = "0.6"
axum-auth = "0.4"
axum-macros = "0.3"
http-api-problem = "0.57"
hyper = { version = "0.14", features = ["full"] }
serde.workspace = true
serde_json.workspace = true
tracing.workspace = true

[dev-dependencies]
agent_shared = { path = "../agent_shared", features = ["test"] }
agent_store = { path = "../agent_store" }

lazy_static.workspace = true
mime = { version = "0.3" }
tokio = { version = "1.34", features = ["full"] }
tower = { version = "0.4" }
url.workspace = true
