openapi: 3.1.0
info:
  title: SSI Agent - REST API
  description: A lightweight REST API for the SSI Agent
  version: 0.1.0

servers:
  - url: http://localhost:3033
    description: Development

paths:
  /v1/credentials:
    post:
      summary: Create a new Credential for a given Subject
      # description: n/a
      tags:
        - Creation
      requestBody:
        # description: n/a
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                # $meta:
                #   type: object
                #   properties:
                #     credentialTemplate:
                #       type: string
                #       description: The template to be used to create the credential
                subjectId:
                  type: string
                credential:
                  type: object
                  properties:
                    credentialSubject:
                      type: object
              required:
                - subjectId
                - credential
            examples:
              open-badges-3:
                summary: Open Badges 3.0
                externalValue: res/open-badge-request.json
      responses:
        "201":
          description: An Open Badge 3.0 has successfully been created for the provided credentialSubject
          headers:
            Location:
              schema:
                type: string
                example: "/v1/credentials/c0c97176-44c3-4f22-ab11-6bb782e29cb9"
              description: URL of the created resource
          content:
            application/json:
              schema:
                type: object
              examples:
                open-badges-3:
                  summary: Open Badges 3.0
                  externalValue: res/open-badge-response.json
  /v1/credentials/{credential_id}:
    get:
      summary: Get the Credential with the given Credential ID
      tags:
        - Retrieval
      # description: n/a
      parameters:
        - in: path
          name: credential_id
          required: true
          schema:
            type: string
            minimum: 1
          description: The Credential ID
      responses:
        "200":
          description: A Credential with the given Credential ID has been successfully retrieved
          content:
            application/json:
              schema:
                type: object
              examples:
                open-badges-3:
                  summary: Open Badges 3.0
                  externalValue: res/open-badge-response.json

  /v1/offers:
    post:
      summary: Create a new Offer for one or more Credentials
      tags:
        - Distribution
      requestBody:
        description: The id of the Subject
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subjectId:
                  type: string
                preAuthorizedCode:
                  type: string
              required:
                - subjectId
            example:
              subjectId: "c86289fa-b105-4ec3-9326-a02436788f11"
      responses:
        "200":
          description: Offer created successfully. Response value should be displayed to the user in the form of a QR code.
          content:
            text/plain:
              schema:
                type: string
                example: openid-credential-offer://?credential_offer=%7B%22credential_issuer%22%3A%22https%3A%2F%2Fcredential-issuer.example.com%2F%22%2C%22credentials%22%3A%5B%7B%22format%22%3A%22ldp_vc%22%2C%22credential_definition%22%3A%7B%22%40context%22%3A%5B%22https%3A%2F%2Fwww.w3.org%2F2018%2Fcredentials%2Fv1%22%2C%22https%3A%2F%2Fwww.w3.org%2F2018%2Fcredentials%2Fexamples%2Fv1%22%5D%2C%22type%22%3A%5B%22VerifiableCredential%22%2C%22UniversityDegreeCredential%22%5D%7D%7D%5D%7D

  # (proxied)
  /.well-known/oauth-authorization-server:
    get:
      summary: Standard OpenID Connect discovery endpoint for authorization metadata
      description: Standard OpenID Connect discovery endpoint for authorization metadata
      tags:
        - (proxied)
  /.well-known/openid-credential-issuer:
    get:
      summary: Standard OpenID Connect discovery endpoint for issuer metadata
      tags:
        - (proxied)
  /auth/token:
    post:
      summary: Standard OAuth 2.0 endpoint for fetching a token
      tags:
        - (proxied)
  /openid4vci/credential:
    post:
      summary: Standard OpenID Connect endpoint for redeeming a token for a credential
      tags:
        - (proxied)

  /v1/authorization_requests:
    post:
      summary: Create a new Authorization Request
      # description: n/a
      tags:
        - Creation
      requestBody:
        # description: n/a
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nonce:
                  type: string
                  example: "0d520cbe176ab9e1f7888c70888020d84a69672a4baabd3ce1c6aaad8f6420c0"
              required:
                - nonce
      responses:
        "201":
          description: An Authorization Request has successfully been created
          headers:
            Location:
              schema:
                type: string
                example: "/request/43482b98aa2e071231082fc29db7a59f342a643b0c590f71083af3c7ae83f3c3"
              description: URL of the created resource
          content:
            text/plain:
              schema:
                type: string
                example: "siopv2://idtoken?client_id=did%3Akey%3Az6MkiieyoLMSVsJAZv7Jje5wWSkDEymUgkyF8kbcrjZpX3qd&request_uri=http%3A%2F%2F192.168.1.127%3A3033%2Frequest%2F43482b98aa2e071231082fc29db7a59f342a643b0c590f71083af3c7ae83f3c3"
  /v1/authorization_requests/{authorization_requests_id}:
    get:
      summary: Get the Authorization Request with the given Authorization Request ID
      tags:
        - Retrieval
      # description: n/a
      parameters:
        - in: path
          name: authorization_requests_id
          required: true
          schema:
            type: string
            minimum: 1
          description: The Authorization Request ID
      responses:
        "200":
          description: An Authorization Request with the given Authorization Request ID has been successfully retrieved
          content:
            application/json:
              schema:
                type: object
              examples:
                open-badges-3:
                  summary: SIOPv2 Authorization Request
                  externalValue: res/siopv2-authorization-request.json

  # (proxied)
  /request/{state}:
    get:
      summary: Standard request endpoint for fetching the Authorization Request object
      tags:
        - (proxied)
  /redirect:
    post:
      summary: Standard OAuth 2.0 redirection endpoint
      tags:
        - (proxied)
