UNICORE__PROFILE=development
UNICORE__DEV__API_KEY="change-me-local-dev-key"

UNICORE__LOG_FORMAT=text
UNICORE__APPLICATION_URL="http://localhost:3033"
UNICORE__SECRET_MANAGER__STRONGHOLD_PASSWORD="7Bs4IgCRaibbjd3of2pnoU7K"

# OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"
