[package]
name = "agent_issuance"
version = "0.1.0"
edition = "2021"

[dependencies]
agent_shared = { path = "../agent_shared" }

oid4vci = { git = "https://git@github.com/impierce/openid4vc.git", branch = "feat/refactor-request" }
oid4vc-core = { git = "https://git@github.com/impierce/openid4vc.git", branch = "feat/refactor-request" }
oid4vc-manager = { git = "https://git@github.com/impierce/openid4vc.git", branch = "feat/refactor-request" }

cqrs-es.workspace = true

async-trait = "0.1"
derivative = "2.2"
did-key = "0.2"
jsonschema = "0.17"
jsonwebtoken = "8.2"
rand = "0.8"
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
time = { version = "0.3" }
tracing.workspace = true
url.workspace = true
uuid.workspace = true

[dev-dependencies]
lazy_static.workspace = true
serial_test = "3.0"
tokio = { version = "1", features = ["full"] }
