[package]
name = "agent_application"
version = "0.1.0"
edition = "2021"

[dependencies]
agent_issuance = { path = "../agent_issuance" }
agent_api_rest = { path = "../agent_api_rest" }
agent_store = { path = "../agent_store" }

oid4vci = { git = "https://git@github.com/impierce/openid4vc.git", branch = "feat/refactor-request" }

axum = "0.6"
serde_json.workspace = true
tokio = { version = "1.34", features = ["full"] }
url.workspace = true

