[package]
name = "agent_application"
version = "0.1.0"
edition = "2021"

[dependencies]
agent_issuance = { path = "../agent_issuance" }
agent_api_rest = { path = "../agent_api_rest" }
agent_shared = { path = "../agent_shared" }
agent_store = { path = "../agent_store" }

oid4vci = { git = "https://git@github.com/impierce/openid4vc.git", branch = "feat/refactor-request" }

cqrs-es = "0.4.2"
postgres-es = "0.4.10"

axum = "0.6"
lazy_static.workspace = true
serde_json.workspace = true
serde.workspace = true
tokio = { version = "1.34", features = ["full"] }
tracing.workspace = true
tracing-subscriber.workspace = true
url.workspace = true
